---
layout: default
---

    <section class="natalia-posts-container">
      {% for post in paginator.posts %}
        <article class="natalia-post">
            {% include widgets/post-drop-options.html %}
            <div class="natalia-post-info">
              <span class="natalia-post-date">{% include snippets/post-date.html %}</span>
              <!-- <span><strong>tags:</strong> <a href="">nada</a> , <a href="">inicial</a> </span> -->
              <h2 class="natalia-post-title">
                 <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>

              <span class="natalia-post-category">
                  <i>em</i>
                  <a href class="natalia-post-category-name">{{ post.categories }}</a>
              </span>
            </div>
            <div class="natalia-post-content">
                <a href="{{ post.url | prepend: site.url }}" class="natalia-post-excerpt-link" title='Clique para continuar lendo sobre "{{post.title}}"'>
                  <img src="{{post.image}}" alt='Imagem de exibição para "{{post.title}}"' title="{{post.title}}">
                  <span>{{ post.excerpt | truncatewords: 200 }}</span>
                </a>
            </div>
            <a href="{{ post.url | prepend: site.baseurl }}" class='p-display-inline-block'>Continue vendo</a>
            {% include widgets/post-options.html %}
        </article>
      {% endfor %}
      {% include pagination.html %}
    </section>