<header class="natalia-header">
    <div class="natalia-header-container">
		<ul class="natalia-header-menu">
			<li class="natalia-header-menun natalia-header-menu-item natalia-header-menu-item-sobre">
				<a href="/" title="Sobre o blog">
					<span>O que eu ia falar? </span>
				</a>
			</li>		
			<li class="natalia-header-menun natalia-header-menu-item natalia-header-menu-item-sobre">
				<a href="/sobre" title="Sobre o blog">
					<span>Decoração</span>
				</a>
			</li>
			<li class="natalia-header-menu-item">
				<a href="/sobre" title="Sobre o blog">
					<span>Moda</span>
				</a>
			</li>	
			<li class="natalia-header-menu-item">
				<a href="/sobre" title="Sobre o blog">
					<span>Música</span>
				</a>
			</li>	
			<li class="natalia-header-menu-item">
				<a href="/sobre" title="Sobre o blog">
					<span>Literatura</span>
				</a>
			</li>			
			<li class="natalia-header-menu-item">
				<a href="/sobre" title="Sobre o blog">
					<span>Contato</span>
				</a>
			</li>			
			<li class="natalia-header-menu-item p-float-right">
				<input type="text" placeholder="Pesquisar aqui">
			</li>				
		</ul>
    </div>
</header>