<header class="natalia-header">
    <div class="natalia-header-container">
		<ul class="natalia-header-menu">
			<li class="natalia-header-menun natalia-header-menu-item natalia-header-menu-item-sobre">
				<a href="/sobre" title="Sobre o blog">
					<span>Decoração</span>
				</a>
			</li>
			<li class="natalia-header-menu-item natalia-header-menu-item-sobre">
				<a href="/sobre" title="Sobre o blog">
					<span>Moda</span>
				</a>
			</li>	
			<li class="natalia-header-menu-item natalia-header-menu-item-sobre">
				<a href="/sobre" title="Sobre o blog">
					<span>Música</span>
				</a>
			</li>	
			<li class="natalia-header-menu-item natalia-header-menu-item-sobre">
				<a href="/sobre" title="Sobre o blog">
					<span>Literatura</span>
				</a>
			</li>			
		</ul>
    </div>
</header>