  <header class="natalia-header">
      <div class="natalia-header-container">
          <h1 class="natalia-header-title"><a href="/"><i class="raicon-natalia natalia-header-icon"></i>O que eu ia falar?</a></h1>
          <input class="natalia-header-menu-checkbox" id="toggle-menu" type="checkbox" /><label class="natalia-header-menu-toggle" for="toggle-menu"><i class="raicon-menu"></i></label>
          <span class="natalia-header-menu">
              <ul>
                  <li class="natalia-header-menu-item natalia-header-menu-item-sobre"><a href="/sobre" title="Sobre o blog"><i class="natalia-header-menu-icon raicon-usuario"></i><span>sobre</span></a></li>
                  <!-- <li class="natalia-header-menu-item natalia-header-menu-item-lab"><a href="#" title="Laboratório de experimentos"><i class="natalia-header-menu-icon raicon-erlenmeyer"></i><span>laboratório</span></a></li> -->
                  <li class="natalia-header-menu-item natalia-header-menu-item-rss"><a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="Assine o feed"><i class="natalia-header-menu-icon raicon-rss"></i><span>rss</span></a></li>
              </ul>
          </span>
      </div>
  </header>