<nav class="natalia-nav">
    <div class="natalia-nav-container">
		<ul class="natalia-nav-menu">
			<li class="natalia-nav-menun natalia-nav-menu-item natalia-nav-menu-item-sobre">
				<a href="/" title="Sobre o blog">
					<span>Home </span>
				</a>
			</li>
			<li class="natalia-nav-menun natalia-nav-menu-item natalia-nav-menu-item-sobre">
				<a href="/sobre" title="Sobre o blog">
					<span>Decoração</span>
				</a>
			</li>
			<li class="natalia-nav-menu-item">
				<a href="/sobre" title="Sobre o blog">
					<span>Moda</span>
				</a>
			</li>
			<li class="natalia-nav-menu-item">
				<a href="/sobre" title="Sobre o blog">
					<span>Música</span>
				</a>
			</li>
			<li class="natalia-nav-menu-item">
				<a href="/sobre" title="Sobre o blog">
					<span>Literatura</span>
				</a>
			</li>
			<li class="natalia-nav-menu-item">
				<a href="/sobre" title="Sobre o blog">
					<span>Contato</span>
				</a>
			</li>
			<li class="natalia-nav-menu-item p-float-right">
				<input type="text" placeholder="Pesquisar aqui">
			</li>
		</ul>
    </div>
</nav>