 <div class="natalia-widget" itemscope itemtype="http://schema.org/Person">
 	<img src='https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xft1/v/t1.0-9/12189069_10208092705145339_274144760801715339_n.jpg?oh=40b4090ff9fc13c3f1a8afbdea89658b&oe=57455B46&__gda__=1464114983_fc440f914c8450be1fe6368e8da0affb'/>
    <h3 class="natalia-widget-title" itemprop="name">Perfil: Natalia Santos</h3>                 
    <a itemprop="url" href="https://www.facebook.com/jota.teles" title="meu facebook" class="s-margin-right-1"><i class="raicon-facebook"></i></a>
    <a itemprop="url" href="https://www.codepen.io/teles" title="meu codepen" class="s-margin-right-1"><i class="raicon-codepen"></i></a>
    <a itemprop="url" href="http://github.com/teles" title="meu github" class="s-margin-right-1"><i class="raicon-github"></i></a>
    <a href="https://www.twitter.com/nataliafront" title="meu twitter"><i class="raicon-twitter"></i></a>
 </div>         