 <div class="natalia-widget p-text-align-center" itemscope itemtype="http://schema.org/Person">
 	<img src='http://s23.postimg.org/oe0c5ionf/natalia.jpg' class='natalia-avatar natalia-avatar-circle'/>
    <h3 class="natalia-widget-title" itemprop="name">
    	<span class='p-display-inline'>Natalia Santos</span>
    </h3>                 
    <span class='p-display-inline'>é apaixonada por música, cultura pop, literatura.</span>

<!--     <a itemprop="url" href="https://www.facebook.com/jota.teles" title="meu facebook" class="s-margin-right-1"><i class="raicon-facebook"></i></a>
    <a itemprop="url" href="https://www.codepen.io/teles" title="meu codepen" class="s-margin-right-1"><i class="raicon-codepen"></i></a>
    <a itemprop="url" href="http://github.com/teles" title="meu github" class="s-margin-right-1"><i class="raicon-github"></i></a>
    <a href="https://www.twitter.com/nataliafront" title="meu twitter"><i class="raicon-twitter"></i></a> -->
 </div>         