<div class="natalia-post-options">
  <ul class='natalia-post-options-list'>
    <li class='natalia-post-options-item'>
      <span class='natalia-post-options-link'>
        <i class="fa fa-thumbs-up natalia-post-options-icon"></i>
        <span>Curtir</span>
      </span>
    </li>
    <li class='natalia-post-options-item'>
      <span class='natalia-post-options-link'>
        <i class="fa fa-facebook natalia-post-options-icon"></i>
        <span>Compartilhar</span>
      </span>
    </li>
    <li class='natalia-post-options-item'>
      <span class='natalia-post-options-link'>
        <i class="fa fa-twitter natalia-post-options-icon"></i>
        <span>Twitter</span>
      </span>
    </li>
    <li class='natalia-post-options-item'>
      <span class='natalia-post-options-link'>
        <i class="fa fa-comment natalia-post-options-icon"></i>
        <span>14 comentários</span>
      </span>
    </li>
  </ul>


  <div class='natalia-post-options-author'>
    <img src='http://s14.postimg.org/59z9d5nfl/nataliacamera.jpg' class='natalia-avatar natalia-avatar-circle natalia-avatar-small natalia-post-options-author-image'>
    <div class='natalia-post-options-author-information'>
      <span class='natalia-post-options-author-name'>Natalia Santos</span>
      <span class='natalia-post-options-author-description'>A mulher por trás do blog, apaixonada por música, literatura e pinguins.</span>
    </div>
  </div>


  <ul class='natalia-post-options-related-list u-hide-tablet '>
    <li class='natalia-post-options-related-item col-tablet-3 col-phone-6'>
      <a href="" class='natalia-post-options-related-link'>
        <img src='http://placehold.it/170x100' class="natalia-post-options-related-image">
        <span class="natalia-post-options-related-title">Título de post relacionado</span>
      </a>
    </li>
    <li class='natalia-post-options-related-item col-tablet-3 col-phone-6'>
      <a href="" class='natalia-post-options-related-link'>
        <img src='http://placehold.it/170x100' class="natalia-post-options-related-image">
        <span class="natalia-post-options-related-title">Título de post relacionado</span>
      </a>
    </li>
    <li class='natalia-post-options-related-item col-tablet-3 col-phone-6'>
      <a href="" class='natalia-post-options-related-link'>
        <img src='http://placehold.it/170x100' class="natalia-post-options-related-image">
        <span class="natalia-post-options-related-title">Título de post relacionado</span>
      </a>
    </li>
    <li class='natalia-post-options-related-item col-tablet-3 col-phone-6'>
      <a href="" class='natalia-post-options-related-link'>
        <img src='http://placehold.it/170x100' class="natalia-post-options-related-image">
        <span class="natalia-post-options-related-title">Título de post relacionado</span>
      </a>
    </li>
  </ul>
</div>