<section class="natalia-slideshow">
	<ul class="natalia-slideshow-list">
		<li class="natalia-slideshow-item">
			<a href="" class="natalia-slideshow-link">
				<span class="natalia-slideshow-title"></span>
			</a>
		</li>
		<li class="natalia-slideshow-item">
			<a href="" class="natalia-slideshow-link">
				<span class="natalia-slideshow-title"></span>
			</a>
		</li>
		<li class="natalia-slideshow-item">
			<a href="" class="natalia-slideshow-link">
				<span class="natalia-slideshow-title"></span>
			</a>
		</li>
		<li class="natalia-slideshow-item">
			<a href="" class="natalia-slideshow-link">
				<span class="natalia-slideshow-title"></span>
			</a>
		</li>
	</ul>
</section>