<ul class="natalia-featured-posts">
	<li class="natalia-featured-posts-item">
		<a href="" class="natalia-featured-posts-link">
			<img src="http://placehold.it/750x500" alt="" class="natalia-featured-posts-image">
			<span class="natalia-featured-posts-category">Decoração</span>
			<span class="natalia-featured-posts-title">Testando o nome desse post</span>
		</a>
	</li>
	<li class="natalia-featured-posts-item">
		<a href="" class="natalia-featured-posts-link">
			<img src="http://placehold.it/750x500" alt="" class="natalia-featured-posts-image">
			<span class="natalia-featured-posts-category">Moda</span>
			<span class="natalia-featured-posts-title">Testando o nome desse post</span>
		</a>
	</li>
	<li class="natalia-featured-posts-item">
		<a href="" class="natalia-featured-posts-link">
			<img src="http://placehold.it/750x500" alt="" class="natalia-featured-posts-image">
			<span class="natalia-featured-posts-category">Receitas</span>
			<span class="natalia-featured-posts-title">Testando o nome desse post</span>
		</a>
	</li>
</ul>