        <ul class="social-list u-hide-tablet">
          <li class="social-item">
            <a href="" class="social-link">
              <i class="fa fa-facebook-official"></i>
            </a>
          </li>
          <li class="social-item">
            <a href="" class="social-link">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="social-item">
            <a href="" class="social-link">
              <i class="fa fa-pinterest-square"></i>
            </a>
          </li>
          <li class="social-item">
            <a href="" class="social-link">
              <i class="fa fa-twitter-square"></i>
            </a>
          </li>
          <li class="social-item">
            <a href="" class="social-link">
              <i class="fa fa-google-plus-square"></i>
            </a>
          </li>
          <li class="social-item">
            <a href="" class="social-link">
              <i class="fa fa-youtube-square"></i>
            </a>
          </li>
        </ul>