<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="{{page.class}}">
    {% include plugins/fb-page-import.html %}
    {% include nav.html %}

    <main class="natalia-body">
      <div class='natalia-nav natalia-nav-trigger'>
        <i class='fa fa-bars natalia-nav-trigger-icon'></i>
      </div>
      <header class='natalia-header'>

        <a class="natalia-header-logo" href="/">
          <h1 class="logo natalia-header-logo-image">O que eu ia falar? Moda, decoração, literatura, cinema.</h1>
        </a>
        <div class="natalia-header-links">
          <div class="p-float-right">
            {% include widgets/social-list.html %}
            <span class='input-box input-box-medium tooltip tooltip-top' aria-label="Buscar no site">
              <input type='text' placeholder="Buscar..." class='input-box-input'>
              <i class="fa fa-search input-box-icon"></i>
            </span>
          </div>
        </div>
      </header>

        {{ content }}
        <aside class="natalia-widgets-container">
          <section class="natalia-widgets">
            {% include widgets/author-information.html %}
          </section>
          <section class="natalia-widgets">
          {% include widgets/related-posts-sidebar.html %}
          </section>
          <section class="natalia-widgets">
          {% include widgets/social.html %}
          </section>          
          <section class="natalia-widgets">
          {% include widgets/site-links.html %}
          </section>
        </aside>
    </main>

    {% include footer.html %}

  </body>
</html>