<!DOCTYPE html>
<html lang="en">
  
  {% include head.html %}
  
  <body class="{{page.class}}">
    {% include plugins/fb-page-import.html %}        
    {% include header.html %}
    
    <main class="natalia-body">
        {{ content }} 
        <aside class="natalia-widgets-container">
          <section class="natalia-widgets">
            {% include widgets/author-information.html %}        
          </section>          
        </aside>
    </main>

    {% include footer.html %}

  </body>
</html>