<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="{{page.class}}">
    {% include plugins/fb-page-import.html %}
    {% include nav.html %}

    <main class="natalia-body">
      <header class='u-clearfix natalia-header'>

        <a class="logo-box" href="/">
          <h1 class="logo logo-header-image">O que eu ia falar? Moda, decoração, literatura, cinema.</h1>
        </a>
        {% include widgets/social-list.html %}

        <input type='text' placeholder="Buscar..." class='form-input form-input-medium'>

      </header>

        {{ content }}
        <aside class="natalia-widgets-container">
          <section class="natalia-widgets">
            {% include widgets/author-information.html %}
          </section>
          <section class="natalia-widgets">
          {% include widgets/site-links.html %}
          </section>
        </aside>
    </main>

    {% include footer.html %}

  </body>
</html>