---
layout: default
---
    <section class="natalia-posts-container">
        <article class="natalia-post" itemscope itemtype="http://schema.org/BlogPosting">
            <div class="natalia-post-info">
              <!-- <span><strong>tags:</strong> <a href="">nada</a> , <a href="">inicial</a> </span> -->
              <span class="natalia-post-date">
                    {% include snippets/page-date.html %}   
              </span>                            
              <span class="natalia-post-comments-count">
                  <i class="fa fa-comment natalia-post-comments-count-icon"></i>
                  <a href="{{site.url}}{{ page.url }}#disqus_thread" data-disqus-url="{{site.url}}{{ page.url }}">
                    Comentários
                  </a>                                              
              </span>
            </div>
            <h2 class="natalia-post-title" itemprop="headline">{{ page.title }}</h2>            
            <!-- <hr class="natalia-separator natalia-separator-primary"> -->
            <div class="natalia-post-content" itemprop="articleBody">
                <meta itemprop="url" content="{{page.url | prepend: site.url }}" />
                <meta itemprop="keywords" content="{% for tag in page.tags %}{{tag}}, {% endfor %}"/>            
                <!-- <img src="{{page.image}}" alt='Imagem de exibição para "{{page.title}}"' title="{{page.title}}" itemprop="image"> -->                
                {{ content }}
                </p>
            </div>
            {{% if page.comments == true % }}
            {% include plugins/disqus.html %}            
            {{% endif %}}
        </article>          
    </section>